@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
/* line 5, ../../../../../Users/aboros/.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Users/aboros/.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Users/aboros/.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Users/aboros/.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Users/aboros/.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Users/aboros/.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Users/aboros/.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Users/aboros/.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Users/aboros/.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 106, ../../../../../Users/aboros/.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.1/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 125%;
  line-height: 1.4em;
}

/* line 29, ../scss/styles.scss */
body {
  background-color: #082637;
  font-family: "Oswald", sans-serif;
}

/* line 33, ../scss/styles.scss */
section {
  padding: 28px;
}

/* line 36, ../scss/styles.scss */
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

/* line 44, ../scss/styles.scss */
h1 {
  font-size: 68px;
  line-height: 84px;
  letter-spacing: -0.05em;
}

/* line 48, ../scss/styles.scss */
h2 {
  font-size: 40px;
  line-height: 56px;
}

/* line 51, ../scss/styles.scss */
h3 {
  font-size: 30px;
  line-height: 56px;
}

/* line 54, ../scss/styles.scss */
h1, h2, h3 {
  font-weight: 700;
  text-transform: uppercase;
}

/* line 59, ../scss/styles.scss */
#header {
  background: #2B9FE0 url("http://2014.drupalaton.hu/profiles/drupalaton_profile/themes/drupalaton_theme/img/water_02.png") repeat-x scroll 0 bottom;
}
/* line 61, ../scss/styles.scss */
#header p {
  margin-top: 28px;
  margin-bottom: 28px;
}

/* line 67, ../scss/styles.scss */
#email {
  background-color: #2B9FE0;
  color: #fff;
}
/* line 70, ../scss/styles.scss */
#email a {
  color: #EF5825;
  border-bottom: 4px dotted #2B9FE0;
}
/* line 73, ../scss/styles.scss */
#email a:hover {
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  color: #A73000;
  border-color: #A73000;
}

/* line 80, ../scss/styles.scss */
#calendar {
  font-size: 40px;
  line-height: 56px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-bottom: 28px;
  background-color: #EF5825;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
}
/* line 89, ../scss/styles.scss */
#calendar span {
  display: block;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
/* line 93, ../scss/styles.scss */
#calendar #calendar_border {
  border: 4px dotted #EF5825;
}
/* line 96, ../scss/styles.scss */
#calendar #calendar_border,
#calendar #calendar_padding {
  padding: 14px;
}
/* line 101, ../scss/styles.scss */
#calendar:hover #calendar_border {
  border-color: #fff;
}
/* line 105, ../scss/styles.scss */
#calendar #countdown {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

/* line 111, ../scss/styles.scss */
#twitter {
  background-color: #1675AF;
  color: #fff;
}
/* line 114, ../scss/styles.scss */
#twitter a {
  color: #082637;
  border-bottom: 4px dotted #1675AF;
}
/* line 117, ../scss/styles.scss */
#twitter a:hover {
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  border-color: #082637;
}
/* line 122, ../scss/styles.scss */
#twitter h2 {
  margin-bottom: 28px;
}

/* line 126, ../scss/styles.scss */
#social {
  background-color: #EF5825;
  color: #fff;
}
/* line 129, ../scss/styles.scss */
#social a {
  color: #082637;
  border-bottom: 4px dotted #EF5825;
}
/* line 132, ../scss/styles.scss */
#social a:hover {
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  border-color: #082637;
}
/* line 137, ../scss/styles.scss */
#social p {
  font-size: 16px;
  line-height: 28px;
}

/* line 141, ../scss/styles.scss */
#mc_signup {
  background-color: #082637;
  color: #fff;
}
/* line 144, ../scss/styles.scss */
#mc_signup label, #mc_signup input {
  display: block;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
}
/* line 149, ../scss/styles.scss */
#mc_signup label {
  font-size: 40px;
  line-height: 56px;
  margin-bottom: 28px;
  font-weight: 700;
}
/* line 154, ../scss/styles.scss */
#mc_signup input {
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
}
/* line 159, ../scss/styles.scss */
#mc_signup input[type=email] {
  font-size: 20px;
  line-height: 28px;
  border: none;
  width: 100%;
}
/* line 163, ../scss/styles.scss */
#mc_signup input[type=email]:focus {
  border: none;
}
/* line 167, ../scss/styles.scss */
#mc_signup input[type=submit] {
  font-size: 40px;
  line-height: 56px;
  margin-top: 28px;
  background-color: #EF5825;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  padding: 7px 28px;
  width: 100%;
}
/* line 177, ../scss/styles.scss */
#mc_signup input[type=submit]:hover {
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: #A73000;
}

@media all and (min-width: 768px) {
  /* line 186, ../scss/styles.scss */
  #content {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;
  }

  /* line 193, ../scss/styles.scss */
  .section-inner {
    padding: 28px;
  }

  /* line 197, ../scss/styles.scss */
  #header h1 {
    font-size: 110px;
    line-height: 140px;
    color: #082637;
  }
  /* line 201, ../scss/styles.scss */
  #header #about {
    background-color: #2B9FE0;
    width: 50%;
    float: right;
    height: 180px;
    margin-top: 28px;
  }
  /* line 207, ../scss/styles.scss */
  #header #about .section-inner {
    padding-top: 0;
    padding-bottom: 0;
  }
  /* line 212, ../scss/styles.scss */
  #header #youtube {
    width: 50%;
    float: left;
    height: 356px;
  }
  /* line 216, ../scss/styles.scss */
  #header #youtube iframe {
    height: 100%;
  }

  /* line 221, ../scss/styles.scss */
  #calendar {
    font-size: 68px;
    line-height: 84px;
    width: 50%;
    float: right;
  }

  /* line 226, ../scss/styles.scss */
  #twitter,
  #email,
  #social,
  #mc_signup {
    width: 50%;
    padding: 0;
  }

  /* line 233, ../scss/styles.scss */
  #twitter {
    -webkit-order: 1;
    order: 1;
  }

  /* line 236, ../scss/styles.scss */
  #email {
    -webkit-order: 2;
    order: 2;
  }

  /* line 239, ../scss/styles.scss */
  #mc_signup {
    -webkit-order: 1;
    order: 1;
  }
  /* line 241, ../scss/styles.scss */
  #mc_signup input[type=email] {
    font-size: 40px;
    line-height: 56px;
  }
  /* line 244, ../scss/styles.scss */
  #mc_signup input[type=submit] {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  /* line 249, ../scss/styles.scss */
  #social {
    -webkit-order: 2;
    order: 2;
  }
  /* line 251, ../scss/styles.scss */
  #social p {
    font-size: 40px;
    line-height: 56px;
    text-transform: uppercase;
    font-weight: 700;
  }
}
